.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.slider-dot.active {
  background: gray;
}
